body{
    background-image: url('https://images.pexels.com/photos/616404/pexels-photo-616404.jpeg?auto=compress&cs=tinysrgb&h=350');
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: lightblue;
}
.wrapper{
    /* display: inline-block; */
    width: 1000px;
}
form{
    position: absolute;
    margin-left: 40%;
    
   
}
.forum{
    font-size: 30px;
}

.submit{
    color: darkred;
    background-color: tan;
    border: 4px solid brown;

}

label{
    color: white;
}

img{
    border: 5px solid rgb(197, 176, 107);
    margin: 15px;
    display: flex;
}
section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 100%;

}
h4{
    margin-top: 150px;
}
.btn{
    position: relative;
    left: 25%;
}
.search{
    width: 225px;
}
a{
    color: rgb(135, 32, 32);
    font-family: Arial, Helvetica, sans-serif;
}